# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/cypress/screenshots
/cypress/videos
/.nyc_output

# next.js
/.next/
/out/

# production
/build
/dist
.swc

# misc
.DS_Store
*.pem
Thumbs.db
**/._*
**/*~
.cache/
.tmp/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# storybook
/storybook-static

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/fallback-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
**/public/fallback-*.js.map

# Sitemap
/public/sitemap*.xml
/public/robots.txt

# MongoDB
/db/data/**
/db/node_modules/
/db/package-lock.json
/db/.mongodb/

# Logs
/logs
*.log

# Local files
.DS_Store
.env.local.*
.eslintcache
